.page {
	display: flex;
	flex-direction:row;
	background:#E0C1B3;
}

.page > div {
	display: flex;
	flex-direction:column;
	justify-content:center;
	height:100vh;
	margin:0;
}

.optionsContainer {
	width:33vw;
	background:#D89A9E;
}
.jokeContainer {
	width:66vw;
	display: flex;
}
.formDiv {
	display:flex;
	justify-content:center;
}

.jokeDiv {
	display: flex;
	flex-direction:column;
	justify-content:space-around;
}

#options {
	display:flex;
	flex-direction:column;
	align-items:right;
}
p {
	text-align:center;
	font-size:2.5vw;
}

label {
	font-size:3vw;
}
input {
	font-size:1.2vw;
}

input[type=checkbox] {
	transform: scale(2.5);
}

.footer {
	display: flex;
	flex-direction: column;
	align-items:center;
	background: #C37D92;
	padding-top:1vw;
	margin-bottom:0.5vh;
}
.footer > span {
	font-size:1.5vw;
}
